//Page Patterns

.hero-home {
	height: 40.625rem;
	.home-heading {
		@include bp-tablet-up {
			width: 75%;
		}
		@include bp-xl-up {
			width: 50%;
		}
	}

	.home-lead {
		@include bp-xl-up {
			width: 50%;
		}
	}
}

.hero-patterns {
	.shape--arrow {
		.hero-rightarrow {
			width: 27.9375rem;
			height: 8.625rem;
			z-index: 0;
			top: 30.625rem;
			right: 19.375rem;

			@include bp-xs-mobile {
				top: 38.75rem;
				right: 13.125rem;
			}

			@include bp-small-screen {
				right: 58%;
			}
		}
	}

	.shape--whtcircles {
		.hero-whtcircles {
			width: 14.625rem;
			height: 3.9375rem;
			z-index: 0;
			top: 34.375rem;
			right: -4%;

			@include bp-xl-up {
				right: -2%;
			}
		}
	}
}
