.hero {
    background-image: url('../../assets/images/home-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 65rem;
    width: 100%;

    @media (min-width: 47.938em) and (max-width: 63.938em) {
        background-image: url('../../assets/images/home-hero-tablet.jpg');
    }

    @media (min-width: 64em){
        background-image: url('../../assets/images/home-hero-desktop.jpg');
    }

    .line {
        .hero-line {
            @media (max-width: 62em){
                display: none;
            }
        }
    }
}