.world-map {
	&--container {
	}
	.locations {
		height: 28.125rem;

		&-list {
			.locations-item {
				height: 4.5rem;
				background-color: $lt-yellow;
			}
		}
	}
}

.city-listing {
	@include bp-xxl-up {
		min-width: 69.4375rem;
	}

	.city-copy {
		@include bp-tablet-up {
			width: 35.8125rem;
		}

		@include bp-xxl-up {
			width: 100%;
		}
		.city-heading {
			@include bp-xxl-up {
				width: 21.9375rem;
			}
		}
		.city-text {
			@include bp-xxl-up {
				width: 27.8125rem;
			}
		}
	}
}

.mb-5 {
	margin-bottom: 4.5rem !important;
}
.my-5 {
	margin-top: 4.5rem !important;
}
