/*************************************
Home, About, and Career section Styles
*************************************/ 
.articles {
    @include flex (column, center, center);
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;

    .article__container {
        @include flex (column, center, center);
        padding: 3.125rem;

        .feature {
            @include flex (column, center, center);
            margin: 6.25rem auto;

            @include bp-desktop-up {
                flex-direction: row;
            }

            .text-container {
                margin: auto;
                width: 100%;
                @include bp-xl-tablet-down {
                    order: 2;
                }

                @include bp-desktop-up {
                    width: 50%;
                    text-align: left;
                }

                .feature-heading {
                    margin: 1.25rem;
                }
                .feature-paragraph {
                    margin-bottom: 10%;
                }
            }

            .image-container {
                margin: 3.125rem auto;
                @include bp-xl-tablet-down {
                    order: 1;
                }

            }

           .tc-right {
               @include bp-desktop-up {
                   order: 2;
               }
           } 

           .tc-left {
               @include bp-desktop-up {
                   order: 1;
               }
           }

           .ic-left {
               @include bp-desktop-up {
                   order: 1;
               }
           }

           .ic-right {
               @include bp-desktop-up {
                    order: 2;
               }
           }
        }
    }
}