// About Banner Background
.banner-about {
	height: 10rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/about-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom 75%;

	@include bp-xs-mobile {
		background-position: bottom;
	}

	@include bp-tablet-up {
		height: 12.5rem;
		background-image: url('../../assets/images/about-hero-tablet.jpg');
	}

	@include bp-xl-up {
		background-image: url('../../assets/images/about-hero-desktop.jpg');
	}
}

//Career Banner Background
.banner-careers {
	height: 10rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/careers-location-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom 75%;

	@include bp-tablet-up {
		height: 12.5rem;
		background-image: url('../../assets/images/careers-locations-hero-tablet.jpg');
	}

	@include bp-xl-up {
		background-image: url('../../assets/images/careers-locations-hero-desktop.jpg');
	}

	
}

//Locations Banner Background
.banner-locations {
	height: 10rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/careers-location-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom 75%;

	@include bp-tablet-up {
		height: 12.5rem;
		background-image: url('../../assets/images/careers-locations-hero-tablet.jpg');
	}

	@include bp-xl-up {
		background-image: url('../../assets/images/careers-locations-hero-desktop.jpg');
	}
}

.banner-heading {
	width: 100%;
	height: 2.5rem;
	left: 0;
	top: 2rem;

	@include bp-tablet-up {
		left: 11.46%;
	}

	@include bp-desktop-up {
		left: 5%;
	}

	@include bp-xxl-up {
		left: -8%;
	}
}
