// About Banner Background
.banner-about {
	height: 10rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/about-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom 75%;

	@include bp-tablet-up {
		height: 12.5rem;
		background-image: url('../../assets/images/about-hero-tablet.jpg');
	}

	@include bp-xl-up {
		background-image: url('../../assets/images/about-hero-desktop.jpg');
	}
}

//Career Banner Background
.banner-careers {
	height: 10rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/careers-location-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom 75%;

	@include bp-tablet-up {
		height: 12.5rem;
		background-image: url('../../assets/images/careers-locations-hero-tablet.jpg');
	}

	@include bp-xl-up {
		background-image: url('../../assets/images/careers-locations-hero-desktop.jpg');
	}

	
}

//Locations Banner Background
.banner-locations {
	height: 10rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/careers-location-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom 75%;

	@include bp-tablet-up {
		height: 12.5rem;
		background-image: url('../../assets/images/careers-locations-hero-tablet.jpg');
	}

	@include bp-xl-up {
		background-image: url('../../assets/images/careers-locations-hero-desktop.jpg');
	}
}
