// About Banner Background
.banner {
    width: 100%;
    height: 16rem;
    overflow: hidden;


    @include bp-tablet-up {
        height: 20rem;
    }

    .container {

        @include bp-xxl-up {
            max-width: 80%;

        }

        .ms-xxl-0 {
            margin-left: -1rem !important;
        }
    }
}

    .banner-about {
        background-image: url('../../assets/images/about-hero-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        //background-position: center center;
        color: $hero-heading;

        @include bp-xs-mobile {
            background-position: bottom;
        }

        @include bp-tablet-up {
            background-image: url('../../assets/images/about-hero-tablet.jpg');
        }

        @include bp-xxl-up {
            background-image: url('../../assets/images/about-hero-desktop.jpg');
        }

        //Bootstrap Classes

        .ms-xl-5 {
            margin-left: 5rem !important;
        }
    }

    // Career Banner Background
    .banner-careers {
        background-image: url('../../assets/images/careers-location-hero-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $hero-heading;
    }


    // Locations Banner Background
    .banner-locations {
        background-image: url('../../assets/images/careers-location-hero-mobile.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: $hero-heading;
    }