.container {
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-direction: inherit;
    grid-template-columns: inherit;
    grid-template-rows: inherit;
    column-gap: inherit;
    row-gap: inherit;
}