.cta {
	width: 100%;
	height: 20rem;
	overflow: hidden;
	background-color: $signup-bg;
	
    
	

	@include bp-tablet-up {
		height: 18.75rem;
	}

	&-container {
		width: 100%;
		height: 20rem;

		@include bp-tablet-up {
			height: 18.75rem;
		}

		@include bp-desktop {
			width: 69.375rem;
		}
		.cta-heading {
			width: 100%;

			@include bp-tablet-up {
				width: 28.5625rem;
			}

			@include bp-desktop-up {
				width: 28.5625rem;
			}
		}

		.appstore-icons {
			.store-icon img {
				@include bp-sm-mobile {
					width: 95%;
				}
			}
		}

		.shape {
			&--halfcircles {
				width: 1158px;
				height: 158px;
				background-repeat: no-repeat;
				background-size: contain;
				background-image: url(../../assets/patterns/semi-circles.svg);
				bottom: 0;
				right: calc((1158px * .14076) * -1);
			}
		}
		
	}

    
    
}