/* *****************
   Home Page Directions Styles
********************/ 

.directions {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .container {
        padding: 7.5rem 2rem;
        @include bp-tablet {
            padding: 7.8125rem 6rem;
        }
        
        .directions__list {
            text-align: center;

            @include bp-desktop-up {
                text-align: initial;
            }
        }
    }

}