/* *****************
   Home Page Directions Styles
********************/

.directions {
	width: 100%;
	height: 49.5rem;
	margin-top: 7.5rem;

	@include bp-tablet-up {
		height: 35.8125rem;
		margin-top: 7.625rem;
	}

	@include bp-xl-up {
		width: 79.6875rem;
		height: 18.1875rem;
		margin-top: 10rem;
	}

	@include bp-xxl-up {
		margin-left: 9.375rem;
	}

	@include bp-xxxl-up {
		width: 82.8125rem;
		margin-left: 18.75rem;
	}

	.directions-content {
		height: auto;

		.directions-item {
			//padding-bottom: 3rem;

			@include bp-xl-up {
				padding-right: 2.5rem;
			}

			@include bp-xxxl-up {
				padding-right: 6.25rem;
			}

			.image-content {
				//padding-bottom: 2.1875rem;

				.directions-icon {
					width: 3.5rem;
					height: 3.5rem;

					@include bp-tablet-up {
						width: 6rem;
						height: 6rem;
					}
				}
			}

			.text-content {
				@include bp-tablet-up {
					padding-left: 5rem;
				}

				@include bp-xl-up {
					width: 21.875rem;
					padding-left: 0rem;
				}

				.directions-heading {
					//padding-bottom: 2.1875rem;
				}

				.directions-text {
					@include bp-xxxl-up {
						font-size: 1.125rem;
					}
				}
			}
		}
		.directions-item:nth-of-type(3) {
			padding-bottom: 0;
		}
	}
}
