.faqs {
	width: 100%;
	height: auto;
	margin: 5rem 0;
	@include flex(column, center, center);

	&__container {
		width: 20rem;

		@include bp-small-screen {
			width: 43.0625rem;
		}

		@include bp-desktop-up {
			width: 69.375rem;
			margin: 5.625rem auto;
		}

		.faqs-heading {
			text-align: center;
		}

		.faqs__accordion {
			@include flex(column, center, center);

			@include bp-desktop-up {
				flex-direction: row;
				justify-content: space-between;
				align-items: baseline;
			}

			.accordion-body {
				@include bp-desktop-up {
					width: 45.625rem;
				}
				.faqs-subheading {
					color: $faq-subheading;
				}

				.faq__container {
					height: 6.9375rem;
					position: relative;
					margin: 0.625rem 0.625rem;
					background-color: $faq-bg;

					.faq-label {
						position: relative;
						padding: 0.625rem 0;
						font-size: 1.125em;
						cursor: pointer;
					}

					.faq-label::before {
						content: '⌄';
						color: $accordion-icon;
						position: absolute;
						top: 30%;
						right: 0.3125rem;
						font-size: 1.125em;
						transform: translateY(-50%);
					}

					.faq-content {
						font-size: 0.9375em;
						height: 0;
						text-align: justify;
						overflow: hidden;
						transition: 0.5s;
					}
				}
			}

			.accordion-body .faq-container.active .faq-content {
				height: 9.375rem;
			}

			.accordion-body .faq-container .active .faq-label::before {
				content: '^';
				font-size: 1.125em;
			}
		}
	}
}
