/*************************************
Home, About, and Careers section Styles
*************************************/

/* Home Style */
.features {
	height: 180rem;

	@include bp-tablet-up {
		height: 190rem;
	}

	@include bp-xl-up {
		height: 120rem;
	}
	.feature-home {
		&--image {
			padding-top: 1.6rem;
			padding-bottom: 1.6rem;
		img {
			width: 31.1rem;
			height: auto;

		}
	}

		&--copy {
			max-width: 90%;
			margin-bottom: 1.6rem;

			@include bp-tablet-up {
			max-width: 70%;
			}
			@include bp-desktop-up {
				max-width: 45%;
			}

			.feature-home--heading {
				padding-bottom: 1.6rem;
			}

			.feature-home--text {
				padding-bottom: 1.6rem;
			}
		}
	}

	
}

/* About Style */
.features-about {
	height: 110rem;

	@include bp-tablet-up {
		height: 120rem;
	}

	@include bp-xl-up {
		height: 90rem;
	}

	.feature-about {
		&--image {
			padding-top: 1.6rem;
			padding-bottom: 1.6rem;

			img {
			width: 31.1rem;
			height: auto;
			}
		}

		&--copy {
			max-width: 100%;
			margin-bottom: 1.6rem;
			@include bp-tablet-up {
			max-width: 70%;
			}
			@include bp-desktop-up {
				max-width: 45%;
			}

			@include bp-xxl-up {
				max-width: 35%;
			}


			.feature-about--heading {
				padding-bottom: 1.6rem;
			}

			.feature-about--text {
				padding-bottom: .8rem;
			}
		}
	}
}



/* Careers Style */




.feature-button {
	width: 18rem;
	height: 5.3rem;
}