.footer {
    background-color: $footer-bg;
    width: 100%;
    margin: 0 auto;
    padding: 4rem;
    @include flex (column, center, center);
    @include bp-tablet-up {
        padding: 0;
    }

    &__container {
        width: 100%;
        height: auto;
        @include flex(column, space-between, center);
        @include bp-tablet-up {
            flex-direction: row;
        }

        .footer-navbar {
            text-align: center;

            @include bp-tablet-up {
                @include flex(row, space-between, center);
            }
            .navbar-logo {
                padding: 1.875rem;
            }
            .navbar-list {
                padding: 1.875rem;
                @include bp-tablet-up {
                    @include flex(row, space-between, center);
                }
            }
        }

        .social {
            padding: 1.875rem;
            @include flex(row, center, center);
        }
    }

    .attribution {
        margin-top: 1.875rem;
        padding: .625rem;
        p {
            font-size: 0.625em; 
            color: $white;
        }
        p a {
            color: $nav-link-color;
        }
        p a:hover {
            color: $yellow;
        }
    }
}