.footer {
	width: 100%;
	height: 34.375rem;
	background-color: $footer-bg;

	@include bp-small-screen {
		height: 11.25rem;
	}

	@include bp-desktop-up {
		height: 10.625rem;
	}

	&-content {
		height: 26.875rem;
		width: 100%;

		@include bp-tablet-up {
			height: 6rem;
		}
		.footer-navbar {
			width: 100%;

			.logo {
				@include bp-xl-up {
					
				}
				.navbar-logo {
					background-color: transparent;
					border: none;
					width: 7.5rem;
					height: 2.5rem;
				}
			}

			.nav {
				@include bp-xl-up {
					
				}
				.nav-item a {
					color: $white;
					@include bp-xl-up {
						font-size: 1.5rem;
					}
				}
			}
		}

		.social-navbar {
			width: 100%;

			@include bp-tablet-up {
				width: 50%;
			}
		}
	}

	.attribution {
		p {
			color: $dim-grey;
			font-size: 0.625rem;
		}

		p a {
			color: $dim-grey;
		}
	}
}
