.footer {
    width: 100%;
    background-color: $footer-bg;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    
    @include bp-tablet-up {
        height: 6.3125rem;
    }
    
    .footer__container {
        padding: 4rem 0 5.5rem;

        @include bp-tablet-up {
            @include flex (row, space-between, center);
        }
        @include bp-small-screen {
            padding: 2rem 2.4375rem;
        }

        @include bp-desktop-up {
             padding: 2rem 10.3125rem;
        }

        .footer-navbar {
            @include bp-tablet-up {
                @include flex (row, space-between, center);
                width: 26.0625rem;
            }
            .navbar-logo {
                display: block;
                max-width: 6.6875rem;
                margin: 0 auto;
                padding-bottom: 1.875rem;
            }

            .navbar-list {
                @include bp-tablet-up {
                    @include flex(row, space-between, center);
                    
                }
                .navbar-item {
                    margin-bottom: 1rem;
                   .navbar-link {
                       color: $nav-link-color;
                       text-decoration: none;
                   } 
                   .navbar-link:hover {
                       color: $yellow;
                   }
                }
            }
        }

        .social {
            display: flex;
            justify-content: center;
            align-items: center;
            .social__item {
                padding: 1.25rem;
            }

        }

        
    }

    .attribution {
        margin-top: 2.5rem;
        p {
            font-size: 14px;
            color: $white;
        }
        p a {
            color: $nav-link-color;
        }
        p a:hover {
            color: $yellow;
        }
    }
}