nav {
	.logo {
		@include bp-tablet-up {
			margin-left: 1.25rem;
		}
	}
	.navbar-toggler-icon {
		background-image: url('/assets/icons/hamburger.svg');
	}

	.btn-close {
		background-image: url('/assets/icons/close.svg');
	}

	.offcanvas {
		background-color: $soft-black;

		.offcanvas-header {
			background-color: $white;
		}

		.offcanvas-body {
		
			.navbar-nav {
				@include bp-tablet-up {
					margin: auto;
                    margin: auto;
					padding: auto;
					align-items: center;
				}

				.nav-item {
                    @include bp-tablet-up {
                        margin: .625rem;
                    }
					.nav-link {
						color: $white;

						@include bp-tablet-up {
							color: $nav-link-color;
						}
					}
				}
			}
			
			.button-container {
				.offcanvas-button {
					
				}
			}
		}
	}
}
