nav {
	height: 4rem;
	width: 100%;

	@include bp-tablet-up {
		height: 6rem;
	}
	.logo {
		width: 4.7188rem;
		height: 1.25rem;
		left: 40%;
		top: 1.375rem;

		@include bp-tablet-up {
			width: 6.7387rem;
			height: 1.785rem;
			left: 2.4375rem;
			top: 2.125rem;
		}
	}
	.navbar-toggler-icon {
		background-image: url('/assets/icons/hamburger.svg');
	}

	.btn-close {
		background-image: url('/assets/icons/close.svg');
	}

	.offcanvas {
		background-color: $soft-black;

		.offcanvas-header {
			background-color: $white;
		}

		.offcanvas-body {
			.navbar-nav {
				width: 5.5625rem;
				height: 7.6875rem;
				top: 8rem;
				left: 2rem;

				@include bp-tablet-up {
					width: 43.0625rem;
					height: 1.8125rem;
					top: 2.25rem;
					left: 12.8125rem;
				}

				.nav-item {
					
					.nav-link {
						color: $white;

						@include bp-tablet-up {
							color: $nav-link-color;
						}
					}
				}
			}
		}
	}
}

// Bootstrap Classes
.bg-light {
	background-color: $white !important;
}
