// Hero-Home Styles

.hero-home {
	position: relative;
	overflow: hidden;
	height: 50rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/home-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	//background-position: center center;

	@include bp-xs-mobile {
		height: 50rem;
	}
	@include bp-small-screen {
		background-image: url('../../assets/images/home-hero-tablet.jpg');
		background-position: center;
	}

	@include bp-desktop-up {
		background-image: url('../../assets/images/home-hero-desktop.jpg');
		//background-position: right center;
		text-align: initial;
	}

	.hero-content {
		width: 100%;
		height: 100%;

		.home-heading {
			width: 100%;
			height: auto;
			@include bp-small-screen {
				//width: 80%;
			}
			@include bp-desktop-up {
				//width: 40%;
			}
		}

		.home-lead {
			width: 100%;
			height: auto;
			@include bp-small-screen {
				//width: 80%;
			}
			@include bp-desktop-up {
				//width: 40%;
			}
		}

		.home-button {
			width: 11.25rem;
			height: 3.3125rem;

			a {
				color: $white;
			}
		}
	}
}

//Page Patterns
.hero-patterns {
	.shape--arrow {
		.hero-rightarrow {
			width: 27.9375rem;
			height: 8.625rem;
			z-index: 0;
			top: 38.75rem;
			right: 19.375rem;

			@include bp-xs-mobile {
				top: 38.75rem;
				right: 13.125rem;
			}

			@include bp-small-screen {
				right: 58%;
			}
		}
	}

	.shape--whtcircles {
		.hero-whtcircles {
			width: 14.625rem;
			height: 3.9375rem;
			z-index: 0;
			top: 43.125rem;
			right: -4%;

			@include bp-xl-up {
				right: -2%;
			}
		}
	}
}
