// Hero-Home Styles

.hero-home {
	position: relative;
	overflow: hidden;
	height: 50rem;
	width: 100%;
	color: $hero-heading;
	background-image: url('../../assets/images/home-hero-mobile.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	//background-position: center center;

	@include bp-xs-mobile {
		height: 50rem;
	}
	@include bp-small-screen {
		background-image: url('../../assets/images/home-hero-tablet.jpg');
		background-position: center;
	}

	@include bp-desktop-up {
		background-image: url('../../assets/images/home-hero-desktop.jpg');
		//background-position: right center;
		text-align: initial;
	}

	.hero-content {
		width: 100%;
		height: 100%;
		top: 11.1875rem;
		left: 0rem;

		@include bp-small-screen {
			top: 12.5rem;
		}

		@include bp-desktop-up {
			top: 12.5rem;
		}

		.home-heading {
			width: 100%;
			height: auto;
			@include bp-small-screen {
				width: 35.8125rem;
				height: 7rem;
			}
			@include bp-desktop-up {
				width: 31.25rem;
				height: 7rem;
			}
		}

		.home-lead {
			width: 100%;
			height: auto;

			@include bp-xs-mobile {
				width: 100%;
				height: 7.8125rem;
			}
			@include bp-small-screen {
				width: 35.8125rem;
				height: 4.6875rem;
			}
			@include bp-desktop-up {
				width: 25.3125rem;
				height: 6.25rem;
			}
		}

		.home-button {
			width: 11.25rem;
			height: 3.3125rem;
			margin-top: 2.5rem;
			@include bp-xs-mobile {
				margin-top: 0rem;
			}
			a {
				color: $white;
			}
		}
	}
}

//Page Patterns
.hero-patterns {
	.shape--line {
		.hero-line {
			width: 203px;
			height: 0.9375rem;
			z-index: 0;
			left: 0rem;
			top: 450px;
		}
	}
	.shape--arrow {
		.hero-rightarrow {
			width: 27.9375rem;
			height: 8.625rem;
			z-index: 0;
			top: 37.5rem;
			right: 19.375rem;

			@include bp-xs-mobile {
				top: 40rem;
				right: 13.125rem;
			}

			@include bp-small-screen {
				right: 58%;
			}
		}
	}

	.shape--whtcircles {
		.hero-whtcircles {
			width: 14.625rem;
			height: 3.9375rem;
			z-index: 0;
			top: 43.125rem;
			right: -4%;

			@include bp-xl-up {
				right: -2%;
			}
		}
	}
}
