.navbar {
    
        .navbar-btn {
            width: 18rem;
            height: 5.3rem;
            margin-right: 2rem;
        } 
        

    .show {
        transform: translateX(0);
    }

}
    