.navbar {
        background-color: $white;
        color: $nav-text;
        top: 0;
        left: 0;
        width: 100%;
        

        &__toggle {
            width: .7813rem;
            height: .625rem;
        } 
        

    .show {
        transform: translateX(0);
    }

}
    