.navbar {
    width: 100%;
    //height: 6.4rem;
    //position: sticky;
    background-color: $white;
    //top: 0;
    //left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media (min-width: 62em){
        flex-direction: row;
        height: 9.6rem;
    }

    .main-navbar {
        position: relative;
        margin: 0 auto;
        padding: 1.3rem 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6.4rem;
        width: 100%;

        @media (min-width: 62em) {
            width: 20%;
            height: 9.6rem;
            justify-content: flex-start;
        }

        .mobile-menu-icons {
            .open-icon {
                position: absolute;
                cursor: pointer;
                border-style: none;
                margin: auto;
                top: 2.4rem;
                left: 3.2rem;
                background-color: transparent;

            }

            @media (min-width: 62em){
                .open-icon {
                    display: none;

                }
            }

            .close-icon {
                display: none;
                cursor: pointer;
                border: 0;
                position: absolute;
                margin: auto;
                top: 2.4rem;
                left: 3.2rem;
            }
            
        }

        .top-navbar-logo {
            @media (max-width: 61em){
                margin: auto;
                width: 7.55rem;   
            }
            width: 10.782rem;
            
        }

    } //navbar-section

    .navbar-collapse {
        width: 100%;
        height: 60rem;
        top: 6.5rem;
        display: flex;
        

        @media (max-width: 61em){
        position: fixed;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $sidebar-bg;
        right: 0%;
        text-align: left;
        transform: translateX(-120%);
        transition: transform 0.5s ease-in;
        }

        @media (min-width: 62em) {
            width: 90%;
            height: 9.6rem;
            flex-direction: row;
            align-items: center;
            background-color: transparent;
            
            .nav-items {
                width: 100%;
                display: flex;

                .nav-link {
                    color: $sidenav-link-color;
                    font-weight: $weight-bold;

                    @media (min-width: 62em) {
                        color: $nav-link-color;
                    }
                }

            }
        }

        .navbar-btn {
            width: 18rem;
            height: 5.3rem;
            margin-right: 2rem;
        } 
        
    }

    .show {
        transform: translateX(0);
    }

}
    