.signup {
    width: 100vw;
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dk-navy;
    background-image: url('../../assets/patterns/semi-circles.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
  
    @include bp-sm-mobile {
        height: 25rem;
    }

    @include bp-desktop {
        flex-direction: row;
        height: 24.75rem;
    }
    .signup__container {
        text-align: center;
        padding: 5.5rem 2rem;

        .text-container {
            margin-bottom: 2.5rem;

            .scoot-heading {
                color: $white;
                @include bp-sm-mobile {
                    font-size: 1.75em;
                }
            }
        }

        .image-container {
            .app-store-img {
                padding: .3125rem;
            }
        }
    }

    
    
}