.signup {
    
    width: 100vw;
    height: 320px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $dk-navy;
    background-image: url('../../assets/patterns/semi-circles.svg');
    background-repeat: no-repeat;
    background-position: bottom right;
    
    


    @include bp-desktop {
        flex-direction: row;
        height: 24.75rem;
    }


    
    
}