.values {
	width: 100%;

	&-container {
		width: 100%;
		height: 100%;

		@include bp-tablet-up {
			width: 28.5625rem;
		}

		@include bp-xl-up {
			width: 69.375rem;
		}

		@include bp-xxl-up {
			width: 71.875rem;
		}

		@include bp-xxxl-up {
			width: 84.375rem;
		}
	}

	.value {
		width: 100%;
		height: 28.6875rem;

		@include bp-xl-up {
			width: 21.875rem;
		}

		&-image {
			img {
				width: 15rem;
				height: auto;
			}
			.value-number {
				width: 6rem;
				height: 6rem;
				background-color: $yellow;
				left: 50%;
				top: 32%;
				transform: translate(-50%, 59%);
			}
		}
	}
}
