.wrapper {
	position: relative;
	width: 100%;
	height: auto;
	max-width: 1920px;
	margin: 0 auto;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-direction: inherit;
	grid-template-columns: inherit;
	grid-template-rows: inherit;
	column-gap: inherit;
	row-gap: inherit;
}
