.btn {
	//display: inline-block;
	max-width: 11.25rem;
	max-height: 3.3125rem;
	width: 100%;
	//padding: 2rem 1rem;
}

.btn-primary {
	font-family: $heading-font;
	background-color: $button-bg;
	color: $button-text;

	a:link {
		margin: auto;
		font-size: 0.625rem;
	}

	&:hover {
		background-color: transparent;
		color: $button-hover-text;
		border: 2px solid $button-hover-border;
	}
}
