*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}


html {
    font: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/* Main Styling */
.wrapper {
    max-width: 144rem;
    min-height: 100vh;
    overflow-x: hidden;
    margin: auto;
    position: relative;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.overlay.active {
    display: block;
    opacity: 1;
}


