*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}


html {
    font: 100%;
}
html,
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/* Main Styling */
.wrapper {
    max-width: 144rem;
    min-height: 100vh;
    overflow-x: hidden;
    margin: auto;
    position: relative;
}



