*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: 1px solid black;
}

html {
    font: 62.5%;
}

html,
body {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

/* Main Styling */
.wrapper {
    max-width: 148rem;
    min-height: 100vh;
    overflow-x: hidden;
    margin: auto;
    position: relative;
}

.btn {
    display: inline-block;
    max-width: 19.2rem;
    max-height: 5.3rem;
    width: 100%;
    padding: 2rem 1rem;
    font-family: $heading-font;
    background-color: $button-bg;
    color: $button-text;
    
    &:hover {
        background-color: transparent;
        color: $button-hover-text;
        border: 2px solid $button-hover-border;
    }
    
}