body {
    font-family: $text-font;
    font-size: 1.500em;
    line-height: 2.5rem;
}

h1,
h2,
h3,
h4 {
    font-family: $heading-font;
    font-weight: $weight-bold;
}

.heading-1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: -2.5;
}

.heading-2 {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -2.14;
}

.heading-3 {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -1.79;
}

.heading-4 {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -1.07;
}

