.hide-mobile {
    @include bp-mobile {
        display: none;
    }
}

.hide-tablet {
    @include bp-tablet {
        display: none;
    }
}

.hide-desktop-up {
   @include bp-desktop-up {
       display: none;
   } 
}

