.hide-mobile {
    @include bp-mobile-down {
        display: none;
    }
}

.hide-tablet-up {
    @include bp-tablet-up {
        display: none;
    }
}

.hide-desktop-up {
   @include bp-desktop-up {
       display: none;
   } 
}

