// Variables
$yellow: hsl(40, 97%, 58%);
$dk-navy: hsl(216, 17%, 35%);
$dim-grey: hsl(217, 12%, 62%);
$lt-grey: hsl(212, 41%, 93%);
$snow-grey: hsl(214, 37%, 96%);
$lt-yellow: hsl(39, 100%, 94%);
$soft-black: hsl(215, 14%, 23%);
$white: hsl(0, 0%, 100%);
$lighter-grey: hsl(0, 0%, 59%);
$medium-grey: hsl(217, 18%, 35%);

// Typography

$heading-font: 'Space Mono', monospace;
$text-font: 'Lexend Deca', sans-serif;
$weight-bold: 700;
$weight-regular: 400;

// Theme
$headings: $dk-navy;
$hero-heading: $white;
$cta-heading: $white;
$faq-subheading: $dk-navy;
$faq-bg: $snow-grey;
$faq-hover: $lt-yellow;
$faq-question: $medium-grey;
$faq-answer-text: $medium-grey;
$accordion-icon: $yellow;
$jobs-bg: $snow-grey;
$body-text: $dim-grey;
$nav-text: $dim-grey;
$nav-text-hover: $yellow;
$nav-link-color: $dim-grey;
$sidenav-link-color: $lt-grey;
$sidenav-link-hover: $yellow;
$sidebar-bg: $soft-black;
$signup-bg: $medium-grey;
$footer-bg: $soft-black;
$app-bg: $lt-grey;
$button-bg: $yellow;
$button-text: $white;
$button-hover-border: $yellow;
$button-hover-text: $yellow;
$social-icon-bg: $yellow;

//  Breakpoints
$bp-mobile-start: 320px;
$bp-mobile-end: 480px;
$bp-tablet-start: 481px;
$bp-tablet-end: 767px;
$bp-sm-screen-start: 768px;
$bp-sm-screen-end: 1023px;
$bp-desktop-start: 1024px;
$bp-desktop-end: 1200px;
$bp-laptop-screen-start: 1201px;
$bp-laptop-screen-end: 1440px;
$bp-xl-desktop-start: 1441px;
$bp-xl-desktop-end: 1920px;
