// Variables
$yellow: hsl(40, 97%, 58%);
$dk-navy: hsl(216, 17%, 35%);
$dim-grey: hsl(217, 12%, 62%);
$lt-grey: hsl(212, 41%, 93%);
$snow-grey: hsl(214, 37%, 96%);
$lt-yellow: hsl(39, 100%, 94%);
$soft-black: hsl(215, 14%, 23%);
$white: hsl(0, 0%, 100%);

$heading-font: 'Space Mono',
monospace;
$text-font: 'Lexend Deca',
sans-serif;
$weight-bold: 700;
$weight-regular: 400;

// Theme 
$headings: $dk-navy;
$main-heading: $white;
$page-heading: $white;
$faq-text: $dk-navy;
$faq-bg: $snow-grey;
$faq-hover: $lt-yellow;
$accordion-icon: $yellow;
$jobs-bg: $snow-grey;
$body-text: $dim-grey;
$nav-text: $dim-grey;
$nav-text-hover: $yellow;
$nav-links: $white;
$sidebar-bg: $soft-black;
$app-bg: $lt-grey;
$button-bg: $yellow;
$button-text: $white;
$button-hover-border: $yellow;
$button-hover-text: $yellow;
$social-icon-bg: $yellow;

// Min-width breakpoints
$bp-small: 688px;
$bp-medium: 992px;
$bp-large: 1312px;
